---
layout: default
theme: dark


preheader-text: We’ve got the perfect summer escape for you
subject-line: "Discover the secret to luxury Mediterranean breaks"
campaign-link: "#campaign-link"
main-button-label: Discover more


objects:

  intro:
    - title: We’ve got the perfect summer escape for you
      subtitle: Join today to find a sumptuous break in the sun without breaking the bank
      image: bg.jpg
      image-title: title.png
      button: true
      link:
      content-rows:
        - content: When holiday season beckons, the glorious Mediterranean never fails to hit the spot. Miles of beaches, beautiful old villages and heavenly local dishes – not to mention sumptuous hotels – conspire to make every break linger in the mind long after you come home.
        - content: Which is why here at Secret Escapes we hand-pick the very best travel deals to make sure you can enjoy a European summer holiday in unforgettable luxury – without spending a fortune.



  editors-pick-intro:
    - title: Editor's pick
      content: A stylish small inn on the edge of the South Downs with awards from the fashion press, infinity pools and chic interiors on the ultimate bohemian Balinese holiday, plus beautiful villas in Costa Rica

  offers-intro:
    - title: Our very best escapes



  testimonials-intro:
    - title: Hear from our happy customers



  proof-intro:
    - title: We’re not like other luxury travel companies…


---



{% for object in page.objects["intro"] %}
  {% include blocks/banner.html button-style="large" %}
{% endfor %}



{% include components/spacer.html height="15" bgcolor="f2f2f2" %}
{% for object in page.objects["editors-pick-intro"] %}
  {% include blocks/section-intro.html title-style="h1" paragraph-style="lead" %}
{% endfor %}

{% assign offers = site.data.offers %}
{% for object in offers limit:1 %}
  {% include offer/feature.html align="left" %}
{% endfor %}


{% for object in page.objects["offers-intro"] %}
  {% include blocks/section-intro.html title-style="h2" %}
{% endfor %}

{% assign offers = site.data.offers %}
{% for object in offers limit:4 %}
  {% include offer/full-width.html align="left" gutter="10" %}
{% endfor %}

{% include includes/button.html button-label="View all offers" %}



{% include components/spacer.html height="30" bgcolor="dddddd" %}
{% for object in page.objects["testimonials-intro"] %}
  {% include blocks/section-intro.html bgcolor="dddddd" title-style="h1" %}
{% endfor %}

{% for object in site.data.testimonials %}
  {% include blocks/testimonial.html bgcolor="dddddd" %}
{% endfor %}



{% include components/spacer.html height="3" bgcolor="ff8c00" %}
{% include components/spacer.html height="30" bgcolor="1a1a1a" %}

{% for object in page.objects["proof-intro"] %}
  {% include blocks/section-intro.html bgcolor="1a1a1a" theme="dark" title-style="h1" %}
{% endfor %}

{% include groups/sign-off--proof.html %}
