



{% for object in page.objects["intro"] %}
  {% include blocks/banner.html button-style="large" %}
{% endfor %}




{% include components/spacer.html height="15" bgcolor="f2f2f2" %}

{% for object in page.objects["editors-pick-intro"] %}
  {% include blocks/section-intro.html title-style="h1" paragraph-style="lead" %}
{% endfor %}

{% assign featured-offer = site.data.offers | where:"featured","true" %}
{% for object in featured-offer %}
  {% include offer/feature.html align="left" %}
{% endfor %}




{% for object in page.objects["offers-intro"] %}
  {% include blocks/section-intro.html title-style="h1" paragraph-style="lead" %}
{% endfor %}

{% assign offers = site.data.offers | where:"featured","false" %}
{% for object in offers %}
  {% include offer/full-width.html align="left" %}
{% endfor %}




{% for object in page.objects["offers-intro"] %}
  {% include blocks/section-intro.html title-style="h1" paragraph-style="lead" %}
{% endfor %}

{% assign offers = site.data.offers | where:"featured","false" %}
{% for object in offers %}
  {% include offer/two-column.html align="left" %}
{% endfor %}



{% include components/spacer.html height="5" bgcolor="f2f2f2" %}
{% include includes/button.html button-label="View all offers" %}





{% for object in page.objects["testimonials-intro"] %}
  {% include blocks/section-intro.html title-style="h1" %}
{% endfor %}

{% assign testimonials = site.data.testimonials | where:"featured","false" %}
{% for object in testimonials %}
  {% include blocks/testimonial-two-column.html %}
{% endfor %}





{% for object in page.objects["testimonials-intro"] %}
  {% include blocks/section-intro.html title-style="h1" %}
{% endfor %}

{% assign testimonials = site.data.testimonials | where:"featured","false" %}
{% for object in testimonials %}
  {% include blocks/testimonial.html %}
{% endfor %}


