





{% for object in page.objects["intro"] %}
  {% include blocks/banner.html button-style="large" bgcolor="1a1a1a" boxcolor="1a1a1a" theme="dark" %}
{% endfor %}





{% include components/spacer.html height="30" bgcolor="333333" %}
{% for object in page.objects["expert-pick-intro"] %}
  {% include blocks/section-intro.html bgcolor="333333" theme="dark" title-style="h1" %}
{% endfor %}

{% assign featured-destination = site.data.offer-destinations | where: "featured","true" %}
{% for object in featured-destination %}
  {% include blocks/feature.html align="center" title-style="h2" button-style="large" boxcolor="444444" bgcolor="333333" theme="dark" %}
{% endfor %}





{% for object in page.objects["destinations-intro"] %}
  {% include blocks/section-intro.html boxcolor="444444" bgcolor="333333" theme="dark" title-style="h1" %}
{% endfor %}

{% assign destinations = site.data.offer-destinations | where:"featured","false" %}
{% for object in destinations %}
  {% include offer/two-column.html align="center" boxcolor="444444" bgcolor="333333" theme="dark" %}
{% endfor %}

{% include components/spacer.html height="15" bgcolor="333333" %}
{% include includes/button.html bgcolor="333333" theme="dark" button-style="large" %}

