


{% if forloop.first %}
<!--
FEATURE BLOCK
Fixed width section at 600px wide. The box background colour should be
slightly contrasted to the email background.
-->
{% endif %}



{% include components/_settings.html %}

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#{{ bgcolor }}" align="center" style="padding: 0 15px 30px;">
      <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
        <tr>
          <td>
            <table bgcolor="#{{ boxcolor }}" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-radius: 4px;">
              <!-- HERO IMAGE -->
              <tr>
                <td>
                  <a href="{% if object.link %}{{ object.link }}{{site.se-offer-tracking}}{% else %}{{ page.campaign-link }}{% endif %}">
                    <img src="{% include includes/image-link.html %}{{ object.image }}" width="600" border="0" alt="" style="display: block; border-top-left-radius: 4px; border-top-right-radius: 4px;" class="img-max" />
                  </a>
                </td>
              </tr>
            </table>
            <table bgcolor="#{{ boxcolor }}" width="100%" border="0" cellspacing="0" cellpadding="0">
              <!-- COPY -->
              <tr>
                <td style="padding: {{gutter}}px 0;">

                  {% if include.title-style %}
                    {% include components/title.html %}
                  {% else %}
                    {% include components/title.html title-style="h1" %}
                  {% endif %}

                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" style="padding: {{gutter | divided_by:2}}px {{gutter | times:2}}px 0; color: #{{ color-text-paragraph }}; {{ site.data.style.text-p }}">
                        {{ object.content }}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- TWO COLUMNS -->
              <tr>
                <td valign="top" class="mobile-wrapper" style="border-top: 1px solid rgba(0,0,0,0.2); padding: {{gutter}}px 0;">
                  <!-- LEFT COLUMN -->
                  <table cellpadding="0" cellspacing="0" border="0" width="360" align="left" class="responsive-table">
                    <tr>
                      <td align="left" style="padding: {{gutter | divided_by:3}}px {{gutter | times:2}}px; color: #{{ color-text-paragraph }}; {{ site.data.style.text-h4 }} font-weight: 600;">
                          Save up to <span style="color: #{{ site.data.style.color-se-orange }};">{{ object.saved }}%</span>
                      </td>
                    </tr>
                  </table>
                  <!-- RIGHT COLUMN -->
                  <table cellpadding="0" cellspacing="0" border="0" width="239" class="responsive-table">
                    <tr>
                      <td style="padding: 0 {{gutter}}px 0 0;">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="responsive-table">
                          <tr>
                            <td width="300" style="padding: 0 0 0 {{gutter | times:2}}px; text-align:right" class="mobile-pad-3c mobile-center-align">
                              <a
                                href="{% if object.link %}{{ object.link }}{{site.se-offer-tracking}}{% else %}{{ page.campaign-link }}{% endif %}"
                                style="{{ site.data.style.button-small }}">
                                View offer
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>