
{% include components/_settings.html %}

{% if include.height %}
  {% assign height = include.height %}
{% else %}
  {% assign height = "215" %}
{% endif %}

<!-- offer/full-width.html -->
<table bgcolor="#{{ bgcolor }}" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center" style="padding: 0 {{gutter}}px {{gutter | times:2}}px;">
      <table bgcolor="#{{ boxcolor }}" border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table" style="border-radius: 4px;">
        <tr>
          <td class="mobile-wrapper">
            <!-- TWO COLUMNS -->
            <table align="center" cellspacing="0" cellpadding="0" border="0" width="600" class="responsive-table">
              <tr>
                <td class="mobile-wrapper" valign="middle" style="vertical-align:middle;">
                  <!-- LEFT COLUMN -->
                  <table cellpadding="0" cellspacing="0" border="0" width="50%" align="left" class="responsive-table" style="height: {{height}}px;">
                    <tr>
                      <td style="vertical-align:middle;" valign="middle">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                          <tr>
                            <td align="center" valign="middle">
                              <a href="{% if object.link %}{{ object.link }}{{site.se-offer-tracking}}{% else %}{{ page.campaign-link }}{% endif %}">
                                <img class="border-reset" src="img/offers/{{ object.title | slugify }}.jpg" width="300" style="display: block; border-top-left-radius: 4px; border-bottom-left-radius: 4px; width: 100%; height:auto;" alt="" border="0" class="img-max" />
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- RIGHT COLUMN -->
                  <table cellpadding="0" cellspacing="0" border="0" width="49.999999%" align="right" class="responsive-table" style="height: {{height}}px;">
                    <tr>
                      <td style="padding: {{gutter}}px 0; vertical-align:middle;" valign="middle">

                        {% if include.title-style %}
                          {% include components/title.html %}
                        {% else %}
                          {% include components/title.html title-style="h5" %}
                        {% endif %}

                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                          <tr>
                            <td align="{{align}}" width="300" style="padding: {{gutter}}px {{gutter | times:2}}px 0; color: #{{ color-text-paragraph }}; {{ site.data.style.text-h6 }}">
                              {{ object.location }}
                            </td>
                          </tr>
                          <tr>
                            <td align="{{align}}" width="300" style="padding: {{gutter}}px {{gutter | times:2}}px 0; color: #{{ site.data.style.color-text-paragraph }}; {{ site.data.style.text-p-small }}">
                              From <span style="color: #{{ site.data.style.color-se-orange }}; font-weight: 600; font-size: 16px;">£{{ object.price }}</span> {{ object.price-description }}
                            </td>
                          </tr>
                          <tr>
                            <td align="{{align}}" width="300" style="padding: {{gutter}}px {{gutter | times:2}}px 0;">
                              <a
                                href="{% if object.link %}{{ object.link }}{{site.se-offer-tracking}}{% else %}{{ page.campaign-link }}{% endif %}"
                                style="{{ site.data.style.button-subtle }}">
                                View offer
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>