
{% include components/_settings.html %}



<!-- offer/two-column.html -->
{% assign loopindex = forloop.index | modulo: 2 %}
{% if forloop.first or loopindex == 1 %}
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td bgcolor="#{{ bgcolor }}" align="center" style="padding: 0 {{gutter}}px;">
        <!-- FIRST ROW -->
        <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
          <tr>
            <td>

{% endif %}

<!-- FIRST COLUMN -->
<table {% if loopindex == 1 %}align="left"{% else %}align="right"{% endif %} border="0" cellspacing="0" cellpadding="0" class="responsive-table" width="285">
  <tr>
    <td style="padding-bottom: {{gutter | times:2}}px;">
      <!-- CONTENT START -->
      <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <a href="{% if object.link %}{{ object.link }}{{site.se-offer-tracking}}{% else %}{{ page.campaign-link }}{% endif %}">
              <img src="img/offers/{{ object.title | slugify }}.jpg" border="0" alt="" width="285" height="190" style="display: block; border-top-left-radius: 4px; border-top-right-radius: 4px;" class="img-max border-reset" />
            </a>
          </td>
        </tr>
        <tr>
          <td style="background-color: #{{ boxcolor }}; padding: {{gutter | times:1.5}}px 0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">

            {% include components/title.html title-style="h3" %}

            <table align="{{align}}" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="{{align}}" style="padding: {{gutter | divided_by:2}}px {{gutter | times:2}}px 0; color: #{{ color-text-paragraph }}; {{ site.data.style.text-p-small }}">
                  {{ object.content }}
                </td>
              </tr>
              <tr>
                <td align="{{align}}" style="padding: {{gutter | divided_by:2}}px {{gutter | times:2}}px 0; color: #{{ site.data.style.color-text-paragraph }}; {{ site.data.style.text-p }}">
                  From <span style="color: #{{ site.data.style.color-se-orange }}; font-weight: 400; font-size: 16px;">£{{ object.price }}</span> {{ object.price-description }}
                </td>
              </tr>
              <tr>
                <td align="{{align}}" style="padding: {{gutter | divided_by:2}}px {{gutter | times:2}}px 0;">
                  <a
                    href="{% if object.link %}{{ object.link }}{{site.se-offer-tracking}}{% else %}{{ page.campaign-link }}{% endif %}"
                    style="{{ site.data.style.button-subtle }}">
                    View offer
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- CONTENT END -->

    </td>
  </tr>
</table>
<!-- FIRST COLUMN END -->



{% if forloop.last or loopindex != 1 %}

          </td>
        </tr>
      </table>
      <!-- FIRST ROW END -->
    </td>
  </tr>
</table>

{% endif %}
