
{% include components/_settings.html %}



{% include components/spacer.html height="45" bgcolor="1a1a1a" %}

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#1a1a1a" style="padding-bottom: {{gutter | times:2}}px;" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
        <tr>
          <td>

            {% include components/title.html title="Don't just take our word for it..." title-style="h1" align="center"  theme="dark" %}

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% assign reviews = site.data.reviews | where:'featured','true' %}
{% for object in reviews %}
  {% include blocks/review.html bgcolor="1a1a1a" boxcolor="1a1a1a" theme="dark" %}
{% endfor %}


{% include components/hr.html bgcolor="1a1a1a" boxcolor="1a1a1a" theme="dark" %}
{% include components/spacer.html bgcolor="1a1a1a" boxcolor="1a1a1a" height="15" %}


{% include sign-off.html %}