
{% include components/_settings.html %}



{% include components/spacer.html height="45" bgcolor="1a1a1a" %}

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#1a1a1a" style="padding-bottom: {{gutter | times:2}}px;" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
        <tr>
          <td>

            <table border="0" cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <td align="{{ align }}" style="padding: 0 {{gutter | times:2}}px {{gutter}}px; color: #{{ color-text-title }}; {{ site.data.style.text-h2 }} line-height: 30px;" class="title-h2">
                  Sehen Sie sich unsere <span style="font-weight: 600;">2.200 Bewertungen</span> an
                  <a href="https://de.trustpilot.com/review/secretescapes.de" style="text-decoration: none;">
                    <img width="140" style="vertical-align: middle;" src="img/content/trustpilot/stars.png" alt="*****">
                  </a>
                </td>
              </tr>
              <tr>
                <td align="{{ align }}" style="padding: 0 {{gutter | times:2}}px; color: #{{ color-text-title }}; {{ site.data.style.text-h5 }}" class="title-h5">
                  Powered by
                  <a href="https://de.trustpilot.com/review/secretescapes.de" style="text-decoration: none;">
                    <img width="160" style="margin-left: 5px; vertical-align: middle;" src="img/content/trustpilot/logo.png" alt="Trustpilot">
                  </a>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



{% include components/hr.html bgcolor="1a1a1a" boxcolor="1a1a1a" theme="dark" %}
{% include components/spacer.html bgcolor="1a1a1a" boxcolor="1a1a1a" height="15" %}


{% include sign-off.html %}